body {
    margin-top: 0px;
    background-color: #e9ecef;
}
.card-body{
    background-color: #e9ecef;

}

.slotwrapper {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #000;
    height: 100%;
    width:100%;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
    height:400px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
}
.slotwrapper ul li {
    background-image: linear-gradient(180deg, rgba(69,69,70,1) 0%, rgba(255,255,255,1) 49%, rgba(73,71,71,1) 100%);
}
.slotwrapper ul li img {
    vertical-align: middle;
}

#mid{
    width:33%
}
#left{
    width:33%
}
#right{
    width:33%
}
#btn-slot{
    background-color: #483C6B;
    border: none;
}
#btn-double{
    background-color: #483C6B;
    border: none;
}
#btn-amount{
    background-color: #9D83EB;
    border: none;
}


@media screen and (max-width: 1200px) {
    .slotwrapper {
        width: 100%;
    }
    .slotwrapper ul {
        width: 33%;
    }
}
@media screen and (max-width: 768px) {
    .slotwrapper {
        height: 100px;
    }
    .slotwrapper ul {
        height:100px;
        font-size: 100px;
        line-height: 100px;
    }
}
#congraluations{
    position: absolute;
    top:8%;
    width :100%;
    visibility: hidden;
    z-index: 5;
    background-color:rgba(52, 58, 64, 0.8);
    
}
#inventory li{
    display: inline;
}

#rainbow-text {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    font-size: 48px;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.navigator-bar {
    background-color: rgb(97, 96, 96);
    font-size: 1.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
}

.navigator-bar h1 {
    color: white;
}

.navigator-bar a {
    color: black;
}

.navigator-bar .container-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navigator-bar .container-contents .nav {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.navigator-bar .container-contents .nav .nav-item {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.navigator-bar .container-contents .external {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
}

.navigator-bar .container-contents .active {
    background-color: rgb(49, 164, 218);
}

.navigator-bar .container-contents .nav-link:hover {
    background-color: rgb(12, 129, 184);
}

body {
    padding-top: 76px;
}

.footer-bar {
    background-color: rgb(99, 98, 98);
    color: white;
}