:root {
    --primary: rgb(85, 160, 167);
    --secondary: rgb(201, 135, 110);
}

body {
    margin-top: 0px;
    background-color: #e9ecef;
    padding-top: 150px;
}
.card-body{
    background-color: #e9ecef;

}

.slotwrapper {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #000;
    height: 100%;
    width:100%;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
    height:400px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
}
.slotwrapper ul li {
    background-image: linear-gradient(180deg, rgba(69,69,70,1) 0%, rgba(255,255,255,1) 49%, rgba(73,71,71,1) 100%);
}
.slotwrapper ul li img {
    vertical-align: middle;
}

#mid{
    width:33%
}
#left{
    width:33%
}
#right{
    width:33%
}
#btn-slot{
    background-color: #483C6B;
    border: none;
}
#btn-double{
    background-color: #483C6B;
    border: none;
}
#btn-amount{
    background-color: #9D83EB;
    border: none;
}


@media screen and (max-width: 1200px) {
    .slotwrapper {
        width: 100%;
    }
    .slotwrapper ul {
        width: 33%;
    }
}
@media screen and (max-width: 768px) {
    .slotwrapper {
        height: 100px;
    }
    .slotwrapper ul {
        height:100px;
        font-size: 100px;
        line-height: 100px;
    }
}
#congraluations{
    position: absolute;
    top:8%;
    width :100%;
    visibility: hidden;
    z-index: 5;
    background-color:rgba(52, 58, 64, 0.8);
    
}
#inventory li{
    display: inline;
}

#rainbow-text {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    font-size: 48px;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/* Custom navbar settings */

.navigator-bar {
    background-color: var(--primary);
}

/** Network */
.network-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mynetwork {
    background-color: var(--secondary);
    height: 1000px;
    width: 75%;
}
