body {
    margin-top: 0px;
    background-color: #e9ecef;
    height:100vh;
}

#flush-collapseTwo .accordion-body ul li{
    display: inline;
}
#left{
    display:none;
}
#mid{
    display:none;
    
}
#right{
    display:none;

}
#flush-collapseThree-accordion-body{
    display: block;
}
.accordion-item > .accordion-header{
    background-color: #e9ecef;
}
.accordion-item{
    background-color: #e9ecef;
}

.container-fluid{
    height:100%;
    width:100%
}

#mynetwork{
    width: 100%;
    height: 100%;
    margin: 0;

}